{% load static %}

<header class="main-header">
  <section class="container main-header__header-container">
    <a href="{% url 'home:index' %}" class="header__logo">
      <h1>
        <img src="{% static 'images/logo-img.png' %}" alt="" />
        <img src="{% static 'images/logo-title.png' %}" alt="">
      </h1>
    </a>
    <nav class="nav main-header__nav">
      <!-- <li class="nav__link"><a href="#">Команда</a></li> -->
      <li class="nav__link"><a href="{% url 'home:roadmap' %}">Путівник</a></li>
      <li class="nav__link"><a href="{% url 'blog:posts' %}">Блог</a></li>
      <li class="nav__link"><a href="{% url 'home:contact' %}">Контакти</a></li>
    </nav>
  </section>
  <section class="main-header__bg"></section>
</header>
