
.index-section {
  margin: 30px 0;
}

.index-about {

}

.index-about .index-about__item {
  font-family: Verdana,Geneva,Tahoma,sans-serif;
  font-size: 1.20rem;
  padding: 0 10px;
}

.index-about .index-about__item img {
  float: left;
  margin: 25px 15px 20px 0;
}

.index-about__item h4 {
  text-transform: uppercase;
  font-weight: 400;
}

.index-team {
  background: #f6f6f6;
}

.index-team__item {
  margin: 30px 30px;
}
