
.shedule {
  padding: 40px 0 40px 0;
  flex-direction: column;
  align-items: center;
}

.shedule__title, .faq__title {
  padding-bottom: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.cources {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cources__cource-item {
  width: 25%;
}

.cource-title {
  padding-bottom: 30px;
  font-weight: 400;
}

.cource-title img {
  float: left;
  display: inline-block;
  padding: 0 10px 10px 0;
}

.location {
  float: left;
  font-size: 14px;
  letter-spacing: normal;
  font-size: 1.20rem;
}

.location img {
  float: left;
  margin: 0 10px 10px 0;
}

.faq {
  padding: 40px 0 40px 0;
}
