
.shedule {
  padding: 40px 0 40px 0;
  flex-direction: column;
  align-items: center;
}

.shedule__title, .qa__title {
  padding-bottom: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.cources {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cources__cource-item {
  width: 25%;
}

.cource-title {
  padding-bottom: 30px;
  font-weight: 400;
}

.cource-title img {
  float: left;
  display: inline-block;
  padding: 0 10px 10px 0;
}

.location {
  float: left;
  font-size: 14px;
  letter-spacing: normal;
  font-size: 1.20rem;
}

.location img {
  float: left;
  margin: 0 10px 10px 0;
}

.qa {
  padding: 40px 0 40px 0;
}

.qa-item {
  padding: 5px 10px;
}

.qa-item--active {
  border-left: 2px solid red;
}

.qa-item .qa-item__question {
  font-weight: 600;
  cursor: pointer;
}

.qa-item .qa-item__answer {
  padding: 0;
  margin: 5px 0 5px 15px;
}
